*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg{
    width: 500px;
}

#World{
    transform: scale(.2);
    transform-origin: top right;
    animation: animate 2s forwards;
}

#Woman{
    transform: translate(-100%);
    animation: animate 3s forwards;
}

@keyframes animate {
    to{
        transform: unset;
    }
}